<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>real time solar wind</title>
    <center class="row"> 
        <h1>Real Time Solar Wind Data</h1> 
        <h2 class="card-subhead">1 day data</h3>
    </center> 
    <hr />
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> 

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
<!-- Load d3.js -->
<script src="https://d3js.org/d3.v4.js"></script>

<!-- Create multiple divs for the charts -->
<div id="chart1" class="chart"></div>
<div id="chart2" class="chart"></div>
<div id="chart3" class="chart"></div>
<div id="chart4" class="chart"></div>
<div id="chart5" class="chart"></div>
<div id="chart6" class="chart"></div>
<div id="chart7" class="chart"></div>

<script>
//Read the data
fetch('api')
    .then(response => response.json())
    .then(data => {
        console.log('Fetched data:', data);
        drawCharts(data);
    })
    .catch(error => console.log('Error fetching data:' , error));
    function drawCharts(data) {
            const chartIds = [
                '#chart1', '#chart2', '#chart3', '#chart4', '#chart5', '#chart6', '#chart7'
            ];

            // Parse data and prepare for each chart
            const parseTime = d3.timeParse("%H:%M");
            const dataParsed = data.labels.map((label, index) => ({
                date: parseTime(label),
                chartbx: +data.chartbx[index] || 0,
                chartby: +data.chartby[index] || 0,
                chartbz: +data.chartbz[index] || 0,
                chartdensity: +data.chartdensity[index] || 0,
                chartspeed: +data.chartspeed[index] || 0,
                chartlat: +data.chartlat[index] || 0,
                chartblon: +data.chartblon[index] || 0,
                chartbt: +data.chartbt[index] || 0
            }));

            // Define chart drawing function
            function createChart(containerId, yAccessor,title) {
                // Set dimensions and margins
                const margin = {top: 10, right: 30, bottom: 30, left: 50},
                    width = 1200 - margin.left - margin.right,
                    height = 200 - margin.top - margin.bottom;

                // Append the SVG object
                const svg = d3.select(containerId)
                    .append("svg")
                        .attr("width", width + margin.left + margin.right)
                        .attr("height", height + margin.top + margin.bottom)
                    .append("g")
                        .attr("transform", `translate(${margin.left},${margin.top})`);

                // Create scales
                const x = d3.scaleTime()
                    .domain(d3.extent(dataParsed, d => d.date))
                    .range([0, width]);

                const y = d3.scaleLinear()
                    .domain([0, d3.max(dataParsed, d => d[yAccessor])])
                    .nice()
                    .range([height, 0]);

                // Add X axis
                svg.append("g")
                    .attr("transform", `translate(0,${height})`)
                    .call(d3.axisBottom(x));

                // Add Y axis
                svg.append("g")
                    .call(d3.axisLeft(y));

                // Add the area
                svg.append("path")
                    .datum(dataParsed)
                    .attr("fill", "steelblue")
                    .attr("stroke", "none")
                    .attr("d", d3.area()
                        .x(d => x(d.date))
                        .y0(height)
                        .y1(d => y(d[yAccessor]))
                    );
                // Add the title
                svg.append("text")
                .attr("x", width / 2)
                .attr("y", -margin.top / 2)
                .attr("text-anchor", "middle")
                .style("font-size", "16px")
                .style("font-weight", "bold")
                .text(title);
            }

            createChart('#chart1', 'chartbx', 'Chart Bx');
createChart('#chart2', 'chartby', 'Chart By');
createChart('#chart3', 'chartbz', 'Chart Bz');
createChart('#chart4', 'chartdensity', 'Chart Density');
createChart('#chart5', 'chartspeed', 'Chart Speed');
createChart('#chart6', 'chartlat', 'Chart Latitude');
createChart('#chart7', 'chartblon', 'Chart Longitude');
        }
</script>