<!DOCTYPE html> 
<html lang="en" dir="ltr"> 

<head> 
<meta charset="utf-8"> 
<title>real time solar wind-1 day data</title> 
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> 

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 



</head> 

<body class="container-fluid"> 
<center class="row"> 
	<h1>Real Time Solar Wind-1 day data</h1> 
</center> 
<hr /> 
<div class="row">
    <div class="col-md-12"> <!-- Make it full width -->
        <div><canvas id="myChartline1" width="7000" height="700"></canvas></div>
        </div>
</div>
<div class="row">
    <div class="col-md-12"> <!-- Make it full width -->
        <div><canvas id="myChartline2" width="7000" height="700"></canvas></div>
        </div>
</div>
<div class="row">
    <div class="col-md-12"> <!-- Make it full width -->
        <div><canvas id="myChartline3" width="7000" height="700"></canvas></div>
        </div>
</div>
<div class="row">
    <div class="col-md-12"> <!-- Make it full width -->
        <div><canvas id="myChartline4" width="7000" height="700"></canvas></div>
        </div>
</div>
<div class="row">
    <div class="col-md-12"> <!-- Make it full width -->
        <div><canvas id="myChartline5" width="7000" height="700"></canvas></div>
        </div>
</div>
<div class="row">
    <div class="col-md-12"> <!-- Make it full width -->
        <div><canvas id="myChartline6" width="7000" height="700"></canvas></div>
        </div>
</div>
<div class="row">
    <div class="col-md-12"> <!-- Make it full width -->
        <div><canvas id="myChartline7" width="7000" height="700"></canvas></div>
        </div>
</div>
        
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/0.5.7/chartjs-plugin-annotation.min.js"></script>
    
<script>
var endpoint = '/api';

$.ajax({
    method: "GET",
    url: endpoint,
    success: function(data) {
        drawGraphs(data);
        console.log("drawing");
        updateTitle(data.labels[0]);
    },
    error: function(error_data) {
        console.log(error_data);
    }
});

function updateTitle(date) {
    // Obtiene la fecha del objeto Date
    var formattedDate = new Date(date);
    // Formatea la fecha como quieras, por ejemplo: "13 de mayo de 2024"
    var formattedDateString = formattedDate.getDate() + ' de ' + getMonthName(formattedDate.getMonth()) + ' de ' + formattedDate.getFullYear();
    // Actualiza el título con la fecha formateada
    $('#title').text('Real Time Solar Wind-1 day data - ' + formattedDateString);
}
    
function drawGraphs(data) {
    drawGraph(data,'myChartline1',data.chartspeed,'Speed','rgb(240, 96, 24)','rgb(165, 161, 255)');
    drawGraph(data,'myChartline2',data.chartdensity,'Density','rgb(0, 0, 0)','rgb(240, 34, 195)');
    drawGraph(data,'myChartline3',data.chartemperature,'Temperature','rgb(165, 161, 255)','rgb(153, 217, 35)');
    drawGraph(data, 'myChartline4',data.chartbx,'bx gsm','rgb(240, 96, 24)','rgb(188, 245, 132)');
    drawGraph(data, 'myChartline5',data.chartby,'by gsm','rgb(240, 96, 24)','rgb(188, 245, 132)');
    drawGraph(data, 'myChartline6',data.chartbz,'bz gsm','rgb(240, 96, 24)','rgb(188, 245, 132)');
    drawGraph(data, 'myChartline7',data.chartbt,'bt gsm','rgb(240, 96, 24)','rgb(188, 245, 132)');
}
function drawGraph(data, id,chartData,yAxisLabel,backgroundColor,borderColor) {
    //Chart.defaults.elements.line.radius = 1;
    var labels = data.labels;
    var chartdata = data.chartdata;
    var ctx = document.getElementById(id).getContext('2d');
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'line',
        // The data for our dataset
        data: {
            labels: labels,
            datasets: [{
                label: yAxisLabel,
                backgroundColor:  backgroundColor,
                borderColor: borderColor,
                data: chartData,
                radius: 0.8,
                showLine: false,
            }]
        },
        // Configuration options go here
         options: {
              scales: {
                xAxes:{
                    display: false,                    
                }
                },
                y: {
                    type: 'linear', // Especifica que el eje y es lineal
                    position: 'left', // Ajusta la posición del eje y según sea necesario
                    border: {
                    display: false,
                       },
                    scaleLabel: {
                        display: true,
                        labelString: yAxisLabel,
                        //min: 700,
                        //max: 500,
                    },
                }
            },
            tooltips: {
                mode: 'index',
                enabled: true,
                callbacks: {
                    title: function(tooltipItems, data) {
                        // Mostrar la hora al pasar el mouse sobre un punto de datos
                        var timestamp = tooltipItems[0].xLabel;
                        return new Date(timestamp).toLocaleString();
                    },
                    label: function(tooltipItem, data) {
                        return yAxisLabel + ':' + tooltipItem.yLabel;
                    }
                }
            }
    });
        //labels: {
            // Función para personalizar las etiquetas del eje x
            //render: 'value', // Utilizamos 'value' para renderizar el valor del eje x actual
            // Formato de la función para personalizar las etiquetas del eje x
            //function(value, context) {
               // var date = new Date(value);
               // return date.getMinutes(); // Solo mostrar los minutos
           // }
      //  };
}
    
</script>
</body> 
</html> 